# Web client configuration
VITE_APPWRITE_ENDPOINT=http://localhost/v1
VITE_APPWRITE_PROJECT_ID=

VITE_COLYSEUS_URL=ws://localhost:2567
VITE_INTEGRATION_API_URL=http://localhost:3100

VITE_LIVEKIT_URL=ws://localhost:7880
